/* 改变主题色变量 */

#app .el-button {
	font-weight: 400;
	border-radius: 2px;
}

.el-dialog {
    border-radius: 2px;
}

::-webkit-scrollbar-track-piece {
    background-color: #f8f8f8;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    background-clip: padding-box;
    min-height: 28px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

/* .el-button--primary {
    background-color: #F26521 !important;
    border-color: #F26521 !important;
    --el-button-font-color: #ffffff !important;
    --el-button-background-color: #F26521 !important;
    --el-button-border-color: #F26521 !important;
    --el-button-hover-color: #F26521 !important;
    --el-button-active-font-color: #e6e6e6 !important;
    --el-button-active-background-color: #F26521 !important;
    --el-button-active-border-color: #F26521 !important;
}

.el-button--text {
    color: #F26521 !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #F26521;
    border-color: #F26521;
}

.el-checkbox__inner:hover {
    border-color: #F26521;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #F26521;
}

:root {
    --el-color-primary: #F26521;
}
*/

.gva-search-box {
    padding: 24px;
    padding-bottom: 2px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 12px;
}

.gva-search-box .el-collapse {
	border: none;
}

.gva-search-box .el-collapse .el-collapse-item__header, .el-collapse-item__wrap {
	border-bottom: none;
}
	
.gva-search-box	.el-form .el-form-item {
	padding-right: 28px;
}

.gva-form-box {
    padding: 24px;
    background-color: #fff;
    border-radius: 2px;
}

.gva-table-box {
    padding: 24px;
    background-color: #fff;
    border-radius: 2px;
}

.gva-pagination {
    display: flex;
    justify-content: flex-end; 
}

.gva-pagination .el-pagination__editor .el-input__inner {
    height: 32px;
}

.gva-pagination .el-pagination__total {
    line-height: 32px !important;
}

.gva-pagination .btn-prev {
    padding-right: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.gva-pagination .number {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
}

.gva-pagination .btn-quicknext {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
}

.gva-pagination .btn-next {
	padding-left: 6px;
	width: 32px;
	height: 32px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.gva-pagination .btn-next:hover, .gva-pagination .btn-next:visited, .gva-pagination .btn-prev:hover, .gva-pagination .btn-prev:visited {
    color: #F26521;
}

.el-pagination button:disabled:hover {
    color: #C0C4CC;
}

.gva-pagination .active {
	/* background: #F26521; */
	border-radius: 2px;
    border: 1px solid #F26521;
    color: #F26521 !important;
}

.el-pagination .el-select .el-input input:visited, .el-pagination .el-select .el-input input:hover {
    border-color: #F26521;
}

.gva-pagination .el-pager li.active+li {
    border-left: 1px solid #ddd !important;
}

.gva-pagination .el-pager li:hover {
    color: #F26521 !important;
}

.gva-pagination .el-pagination__sizes .el-input .el-input__suffix {
    margin-top: 2px;
}    

.el-button--mini {
    min-height: 32px;
}

.el-button {
    /* padding: 8px 16px; */
    border-radius: 2px;
}

.el-dialog {
    padding: 12px;
}

.el-dialog .el-dialog__body {
    padding: 12px 6px;
}

.el-dialog .el-dialog__header {
    padding: 2px 20px 12px 20px;
    border-bottom: 1px solid #E4E4E4;
}

.el-dialog .el-dialog__header .el-dialog__title {
    font-size: 14px;
    font-weight: 500;
}

.el-dialog .el-dialog__headerbtn:hover, .el-dialog .el-dialog__headerbtn:visited {
    color: #F26521;
}

.el-dialog .el-dialog__headerbtn .el-dialog__close:hover, .el-dialog .el-dialog__headerbtn .el-dialog__close:visited {
    color: #F26521;
}

.el-dialog .el-dialog__headerbtn {
    top: 16px;
}

.el-dialog .el-dialog__footer {
    padding: 0 16px 16px 0;
}

.el-dialog .el-dialog__footer .dialog-footer .el-button {
    padding-left: 24px;
    padding-right: 24px;
}
		
.el-dialog .el-dialog__footer .dialog-footer .el-button+.el-button {
    margin-left: 30px;
}

.el-drawer__body {
    padding: 0;
}

.el-date-editor .el-range-separator {
    line-height: 24px;
}

.el-select .el-input .el-select__caret.el-icon {
    height: 38px;
}

.el-table th.el-table__cell>.cell {
    padding-left: 14px !important;
    padding-right: 14px !important;
}

.el-button--mini, .el-button--mini.is-round {
    padding: 7px 22px;
}


.el-radio__input.is-checked .el-radio__inner {
    border-color: #F26521;
    background: #F26521;
}

.el-radio__input .el-radio__inner:hover {
    border-color: #F26521;
}

.el-radio__input.is-checked+.el-radio__label {
    color: #F26521;
}

.el-button:hover, .el-button:focus {
    border-color: #F26521;
    color: #F26521;
    background-color: transparent;
}

.el-button--primary:focus, .el-button.el-button--primary:hover {
    color: #fff;
}

.el-message-box__btns .el-button:hover {
    border-color: #F26521;
    color: #F26521;
    background-color: #ffffff;
}

.el-message-box__btns .el-button.el-button--primary:hover {
    color: #ffffff;
}

.el-table__cell .el-button {
    border-color: transparent;
}

.el-drawer__header {
    padding: 14px 24px;
    color: #000;
    border-bottom: 1px solid rgba(157, 166, 194, 0.3);
    margin-bottom: 0;
}

.el-drawer__body .el-form {
    padding: 24px;
}

.el-input__inner:focus{
    border-color: #F26521;
}

.el-select .el-input.is-focus .el-input__inner {
    border-color: #F26521;
}

.el-table .cell {
    line-height: normal;
}

.el-message--success {
    background-color: #fff;
    border-color: transparent;
}

.el-message .el-icon-success {
    color: #2DA641;
}

.el-message--success .el-message__content {
    color: #2DA641;
}

.el-drawer__header {
    font-weight: 500;
}

/* .el-drawer {
    width: 50% !important;
} */
.el-tabs__item {
    font-weight: normal;
    font-size: 16px;
}

/* .el-tabs__item.is-active {
    color: #F26521;
}

.el-tabs__item:hover {
    color: #F26521 !important;
}

.el-tabs__active-bar {
    background-color: #F26521;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    color: #F26521;
}

.el-select-dropdown__item.selected {
    color: #F26521;
}

.el-select .el-input__inner:focus {
    border-color: #F26521;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #F26521;
} */

.el-switch__label.is-active {
    color: #303133;
}

.el-switch__label {
    font-weight: normal;
}

/* datetimepicker */
/* .el-date-table td.today span {
    color: #F26521;
}

.el-date-table td.available:hover, .el-date-table td.available:visited {
    color: #F26521;
}

.el-date-table td span:hover, .el-date-table td span:visited {
    color: #F26521;
}

.el-date-table td div:hover, .el-date-table td div:visited {
    color: #F26521;
}

.el-date-table td.current:not(.disabled) span {
    background-color: #F26521;
}

.el-picker-panel__footer .el-button:hover {
    border-color: #F26521;
    color: #F26521;
}

.el-icon-arrow-left:hover, .el-icon-d-arrow-left:hover{
    color: #F26521;
}

.el-icon-arrow-right:hover, .el-icon-d-arrow-right:hover{
    color: #F26521;
}

.el-date-picker__header-label:hover {
    color: #F26521;
}

.el-year-table td.today .cell {
    color: #F26521;
}

.el-year-table td .cell:hover {
    color: #F26521;
}

.el-month-table td .cell:hover {
    color: #F26521;
}

.el-date-table td.end-date span, .el-date-table td.start-date span {
    color: #ffffff;
    background-color: #F26521;
}

.el-range-editor.is-active, .el-range-editor.is-active:hover {
    border-color: #F26521;
}

.el-time-panel__btn.confirm {
    color: #F26521;
} */

/* 数字输入框 */
/* .el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled), .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
    border-color: #F26521;
}

.el-input-number__increase:hover, .el-input-number__decrease:hover {
    color: #F26521;
}

.el-input-number__increase .el-icon-arrow-up:hover, .el-input-number__decrease .el-icon-arrow-down:hover  {
    color: #F26521;
} */

/* switch */
/* .el-switch.is-checked .el-switch__core {
    background-color: #F26521;
    border: #F26521;
} */

/* textarea */
/* .el-textarea__inner:focus {
    border-color: #F26521;
}

.el-cascader-node.in-active-path, .el-cascader-node.is-active, .el-cascader-node.is-selectable.in-checked-path {
    color: #F26521;
}

.el-cascader .el-input .el-input__inner:focus, .el-cascader .el-input.is-focus .el-input__inner {
    border-color: #F26521;
}

.el-message-box__headerbtn .el-message-box__close:hover {
    color: #F26521;
}

.el-table .ascending .sort-caret.ascending {
    border-bottom-color: #F26521;
}

.el-table .descending .sort-caret.descending {
    border-top-color: #F26521;
} */

.gva-pagination .number {
    width: auto;
}

/* .el-step__head.is-success {
    color: #F26521;
    border-color: #F26521;
}

.el-step__title.is-success {
    color: #F26521;
}

.el-loading-spinner .path {
    stroke: #F26521;
}

.el-loading-spinner .el-loading-text {
    color: #F26521;   
}

.el-loading-spinner i {
    color: #F26521;
} */